@media (max-width: 1229px){
  #slider{
    .slider-left-side-wrapper{
      width: 81%;
      transform-origin: 0 102%;
      .left-side{
      font-size: 53px;
        .slider-item{
          .content{
            h1{
              font-size: 53px;
              span::before{
                bottom: 9px;
              }
            }
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
    .slider-right-side-aside{
      .right-side-item{
        p{
          font-size: 24px;
          padding-left: 30px;
        }
      }
    }
  }
  #portfolio-page{
    padding-bottom: 0;
  }
}
@media (max-width: 1200px){
  #contact-page .infos{
    left: 15px;
  }
}
@media (max-width: 991px){
  
  #services-page .service-container {
    height: 655px;
  }
  #services-page .category-content .content p{
    margin-top: 0;
    margin-bottom: 7px;
  }
  #slider{
    .two-side-wrapper{
      height: 400px;
    }
    .slider-left-side-wrapper{
      width: 79%;
      .left-side{
        .slider-item{
          height: 400px;
          .content{
            h1{
              font-size: 42px;
            }
            p{
              font-size: 13px;
            }
          }
        }
      }
    }
    .slider-right-side-aside{
      .right-side-item{
        height: 112px;
        line-height: 112px;
        p{
          padding-left: 20px;
          font-size: 20px;
        }
      }
    }
  }

  #services{
    .next{
      right: -20px;
    }
    .prev{
      left: -20px;
    }
  }
  header{
    nav.menu{
      ul{
        li{
          a{
            padding: 40px 20px 30px;
            height: 140px;
            width: 262px;
          }
        }
        li.top-right a, li.bottom-left a{
          padding: 130px 20px 30px;
          height: 234px;
        }
      }
    }
  }
  #contact-page form input, #contact-page form textarea{
    font-size: 12px;
    padding: 10px 15px;
  }
  #portfolio .small-item .image-wrapper img{
    height: 200px;
  }
  #portfolio .large-item .image-wrapper img {
    height: 300px;
  }
}
@media (max-width: 767px){

  #slider{
    .slider-left-side-wrapper{
      width: 100%;
      transform: skew(0deg);
      .left-side{
        transform: skew(0deg);
        .slider-item{
          .content{
            p{
              font-size: 12px;
            }
          }
        }
      }
    }
    .slider-right-side-aside{
      display: none;
    }
  }

  #services{
    height: 700px;
    .prev, .next{
      display: none;
    }
    .pagination{
      height: 480px;
      width: 480px;
    }
    .slide-wrapper{
      .slide{
        a{
          width: 350px;
          height: 350px;
        }
      }
    }
    .row.heading h1{
      margin-bottom: 90px;
    }
  }
  header{
    nav.menu{
      ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li.center{
          position: unset;
          transform: translate(0, 60vh) rotate(0deg);
          margin: 0;
        }
        li{
          flex-basis: 50%;
          margin: 0;
          padding: 10px;
          a{
            .name{
              font-size: 35px;
            }
          }
        }
        li.clear{
          display: none;
        }
      }
    }
  }
  header nav.menu ul li a, header nav.menu ul li.top-right a, header nav.menu ul li.bottom-left a {
    padding: 20px 20px 10px;
    height: auto;
    width: 100%;
    .nav-desc{
      margin: 0;
    }
  }
  header.active ul li.center{
    transform: translate(0, 0) rotate(0deg) !important;
  }
  header li.bottom-right{
    margin-bottom: 30px !important;
  }
  #portfolio-page{
    .item{
      .image-wrapper{
        img{
          height: 190px;
        }
      }
      .content{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }
  }
  footer .bottom .contact-infos ul li:first-child::before{
    right: auto;
    height: 1px;
    width: 102px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
  }
  #get-price-offer{
    padding-bottom: 0;
  }
  .row.heading h1{
    margin-bottom: 10px;
    font-size: 26px;
    &::before{
      bottom: 8px;
      height: 5px;
    }
  }
  #portfolio-page ul li a{
    font-size: 14px;
  }
  #contact-page .infos {
    position: unset;
    transform: translateY(0%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .info{
      flex-basis: 50%;
    }
  }
}
@media (max-width: 576px){
  #portfolio-page {
    .item{
      margin-top: 15px;
    }
  }
  header nav.menu ul li a .nav-desc:before{
    background-size: 16px;
    top: -2px;
  }
  header{
    nav.menu{
      padding: 10px 0;
      ul{
        li{
          flex-basis: 100%;
          a{
            .name{
              font-size: 24px;
            }
            .nav-desc{
              font-size: 8px;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }

  #slider{
    .owl-dots{
      bottom: 20px;
      left: 70px;
    }
    .two-side-wrapper{
      height: 280px;
    }
    .slider-left-side-wrapper .left-side .slider-item .content{
      left: 50px;
      h1{
        font-size: 23px;
        span::before{
          height: 5px;
          bottom: 5px;
        }
      }
    }
    .slider-left-side-wrapper .left-side .slider-item{
      height: 280px;
    }
  }

  #services{
    height: 470px;
    padding: 40px 0;
    .slide-wrapper{
      height: 340px;
      .slide{
        a{
          width: 170px;
          height: 170px;
          .content h1{
            font-size: 24px;
          }
        }
      }
    }
    .pagination{
      width: 320px;
      height: 320px;
      .item{
        .dot{
          font-size: 12px;
          width: 20%;
          height: 20%;
        }
      }
    }
  }
  #services .row.heading h1{
    margin-bottom: 20px;
  }
  footer{
    .top{
      .menu{
        ul{
          li{
            a{
              font-size: 13px;
            }
          }
        }
      }
    }
    .bottom{
      .contact-infos{
        ul{
          li{
            font-size: 13px;
            text-align: center;
            &:first-child{
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
  #advantages{
   .item{
     .icon-wrapper{
       height: 60px;
       width: 60px;
       font-size: 18px;
     }
     h4{
       font-size: 13px;
     }
    }
  }
  #contact-page .infos .info{
    flex-basis: 100%;
  }
  #portfolio .small-item .image-wrapper img {
    height: 150px;
  }
  #portfolio .large-item .image-wrapper img {
    height: 200px;
  }
  #portfolio .item .content{
    left: 10px;
    top: 10px;
    bottom: 10px; 
  }
  #portfolio .item:hover .content {
    width: calc(100% - 20px);
  }
  #portfolio .item .content .name {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }
  #portfolio .item .content .icon {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    line-height: 24px;
    font-size: 11px;
  }
  #services-page .category-content .control-button{
    height: 30px;
    font-size: 12px;
  }
  #services-page .category-content .gallery-wrapper .gallery .gallery-item img{
    height: 60px;
    padding: 4px 0;
  }
  #services-page .category-content .main-image img{
    height: 256px;
  }
  #services-page .category-content .gallery-wrapper .gallery .gallery-item::before{
    top: 4px;
    bottom: 4px;
  }
  #services-page .category-content .content p{
    margin-top: 7px;
    font-size: 14px;
    text-align: justify;
  }
  #services-page .service-container {
    height: 523px;
  }
}