#portfolio{
    .item{
        overflow: hidden;
        position: relative;
        .image-wrapper{
            img{
                width: 100%;
                object-fit: cover;
                transition: all .5s ease;
            }
        }
        .content{
            position: absolute;
            left: 20px;
            width: 0;
            top: 20px;
            bottom: 20px;
            background-color: #ffffffe0;
            transition: all 0.4s cubic-bezier(0.57, 0.21, 0.69, 1.25);
            opacity: 0;
            .icon{
                color: white;
                background-color: #F48E2A;
                position: absolute;
                top: 20px;
                right: 20px;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 45px;
                font-size: 21px;
            }
            .name{
                color: black;
                position: absolute;
                bottom: 20px;
                left: 30px;
                font-size: 21px;
                &::after{
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 60px;
                    bottom: 0px;
                    left: 50%;
                    background-color: #F48E2A;
                    transform: translateX(-50%);
                }
            }
        }
        &:hover{
            .image-wrapper {
                img{
                    transform: scale(1.1);
                }
            }
            .content{
                width: calc(100% - 40px);
                opacity: 1;
            }
        }
    }
    .large-item .image-wrapper img{
        height: 600px;
    }
    .small-item .image-wrapper img{
        height: 400px;
    }
}