$color_purple: #a53692;
$color_orange: #f5874f;

body{
  font-family: 'Josefin Sans', sans-serif;
}
body.active{
  overflow: hidden;
  touch-action: none;
  -ms-touch-action: none;
}
.row.heading{
  h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    &::before{
      content: '';
      position: absolute;
      bottom: 12px;
      left: 2px;
      height: 8px;
      width: 46%;
      background-color: $color_orange;
      z-index: -1;
    }
  }
}
@import "header";
@import "preloader";
@import "breadcrumb";
@import "slider";
@import "services";
@import "portfolio";
@import "advantages";
@import "get-price-offer";
@import "footer";
@import "contact-page";
@import "about-page";
@import "portfolio-page";
@import "services-page";
@import "media-queries";
